
  body {
    background: url(https://media.istockphoto.chttps://p.turbosquid.com/ts-thumb/BS/Qc2WbZ/i9/preview2/png/1626176702/600x600/fit_q87/f982c39c83d5f23506d826177342383a31a3560c/preview2.jpgom/id/1200718005/photo/3d-render-neon-basketball-field-scheme-virtual-sport-playground-sportive-game-pink-blue.jpg?s=170667a&w=0&k=20&c=iR8K5EO4CX9aDMAAudIcp5hVqMuPuNYTl53GxC6cndc=);
    background-repeat: no-repeat;
    background-size: cover;
    font-display: rgb(250, 250, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif;

    
} 
/* 
h1 {
    color: blueviolet;
} */

/* html {
    background:url(https://wallpapers.com/wallpapers/pink-neon-lights-basketball-court-qpp7plarlbpmqpcf.html);
        background-repeat: no-repeat;
} */



 #Basketball-Team-list {
    display:flex;
    justify-content: center;
} 

#teams-images img {
    display:flex;
    justify-content:middle;
    
}
#players-photos{
   width: 100px;
    height: auto;
    margin: 7px;}

#Basketball-Team-list img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}
#teams-images img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}

  #players-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
    text
}  
/* this code above moves the Players info to the right side of the page  */

#players-info img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #c93642)
}

#player-info div {
    width: 500px;
    margin-left: 20px;
} 

#player-info div p {
    font-family: 'Nanum Gothic', sans-serif;
}



 