
  body {
    background: url(https://wallpaperaccess.com/full/3694273.jpg)no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-display: rgb(250, 250, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif;

    
} 
#Basketball-Team-list {
    margin: 1.5rem;
    border: 0.5rem;
}

#Basketball-Team-list {
    display:flex;
    justify-content: center;
} 

#teams-images img {
    display:flex;
    justify-content:middle;
    
}
#players-photos{
   width: 100px;
    height: auto;
    margin: 7px;}

#Basketball-Team-list img:hover {
    filter: drop-shadow(0 0 0.75rem red)
}
#teams-images img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}

  #players-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
    
    
}  
#players-info div {
    background-color: whitesmoke;
}
/* this code above moves the Players info to the right side of the page  */

#team-mates div {
    height: auto;
    width: 10rem;
    text-align: center;
    filter: drop-shadow(0 0 1em black);
    background-color: whitesmoke;
    opacity: 1;
    border-radius: 0.5rem;
    border-color: #c93642;
    padding-top: 1rem;
   

    

    
}
#team-mates {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 5rem;

}


#players-info div {
    width: 500px;
    margin-left: 20px;
} 

#players-info div p {
    font-family: 'Nanum Gothic', sans-serif;
}


#players-info h3 {
    margin: auto;
    font-size:2vw;
}

